.light {
		background-color: #FFF;
		color: #222;
}

.dark {
		background-color: #222;
		color: #FFF;
}

.status {
		font: 3em Impact, Helvetica, sans-serif;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
}
 
.switch {

		width: 200px;
		height: 300px;
		border: 2px solid #999;
		border-radius: 20px;
		padding: 40px;

		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0;
		margin: auto;

		background-color: #FFF;
		box-shadow: inset 0 0 5px rgba(100,100,100,0.7);
}

.switch>button {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		outline: none;
		border: 2px solid #999;
}

.on {
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #eaeaea 51%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#eaeaea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#eaeaea 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#eaeaea 51%,#ffffff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#eaeaea 51%,#ffffff 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#eaeaea 51%,#ffffff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		box-shadow: -1px 4px 6px rgba(100,100,100,0.7);
}

.off {
		background: #d6d6d6; /* Old browsers */
		background: -moz-linear-gradient(top,  #d6d6d6 0%, #eaeaea 49%, #f1f1f1 50%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(49%,#eaeaea), color-stop(50%,#f1f1f1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #d6d6d6 0%,#eaeaea 49%,#f1f1f1 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #d6d6d6 0%,#eaeaea 49%,#f1f1f1 50%,#ffffff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #d6d6d6 0%,#eaeaea 49%,#f1f1f1 50%,#ffffff 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #d6d6d6 0%,#eaeaea 49%,#f1f1f1 50%,#ffffff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		box-shadow: -1px -4px 6px rgba(100,100,100,0.7);
}
